button {
    width: 100px;
    height: 40px;
    background-color: lightblue;
    color: white;
    border: 0px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
button:hover, #btArea2 button:hover {
    background-color: plum;
    color: white;
    cursor: pointer;
}
h2 {
    font-size: medium;
    color: black;
}
.btGroup {
    background-color:rgb(232, 232, 243);
}
.btGroup button {
    background-color: green;
}
#bt3 {
    background-color: purple;
}